.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  background: #fff;
  border: 1px solid #ccc;
}

.box {
  width: 120px;
  height: 50px;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
