.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
}

.box {
  width: 70px;
  height: 50px;
  background: #7c3aed;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
