.container {
  display: flex;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 20px;
  height: 80px;
  align-items: center;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

