.container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.row {
  flex-direction: row;
}

.row-rev {
  flex-direction: row-reverse;
}

.col {
  flex-direction: column;
}

.col-rev {
  flex-direction: column-reverse;
}

.box {
 