.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 160px;
  background: #f8fafc;
}

/* change flex-direction: column; to test */
.flex-container.column {
  flex-direction: column;
}

.box {
  width: 60px;
  height: 60px;
  background: #f97316;
  color: white;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:6px;
}
